<div>
 <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
<ul id="sortable">
  <li class="ui-state-default">Ankit</li>
  <li class="ui-state-default">Arpan</li>
  <li class="ui-state-default">Vinod</li>
  <li class="ui-state-default">Vijay</li>
  <li class="ui-state-default">Sabita</li>
  <li class="ui-state-default">priya</li>
  <li class="ui-state-default">Singh</li>
  <li class="ui-state-default">Jay</li>
  <li class="ui-state-default">Abhi</li>
  <li class="ui-state-default">Avi</li>
  <li class="ui-state-default">Shekher</li>
  <li class="ui-state-default">Gyan</li>
  <li class="ui-state-default">Gyan2</li>
</ul>
 
 
</div>
