<!-- <div class="jumbotron text-center">
  <header class="w3-container w3-light-grey w3-padding-hor-16">
    <h3>My Posts</h3>
  </header>
  
  <div class="w3-container w3-light-grey w3-padding-hor-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <textarea placeholder="Add text here" ng-model="addMe" class="w3-input w3-border w3-padding"></textarea>
      </div>
      <div class="w3-col s2">
        <button ng-click="addItem()" style = "margin-left:25px;" class="w3-btn w3-padding w3-green">Add Post</button>
      </div>
    </div>
    <p class="w3-padding-left w3-text-red">{{errortext}}</p>
  </div>
  <ul class="w3-ul">
    <li ng-repeat="x in posts" class="w3-padding-hor-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">X</span></li>
  </ul>
</div> -->

<div class="jumbotron text-center">
  <h1>My Posts</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Content</th>  
           <th>&nbsp;</th>
            <th>&nbsp;</th>
             <th>&nbsp;</th>
          <th>Action</th>      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"><textarea placeholder="Add text here" ng-model="addMe" class="w3-input w3-border w3-padding" ></textarea></td>
          <td><button class="btn btn-primary" ng-click="addItem()">Add Post</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button></td>
          <td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="post in posts">
          <td>{{post}}</td>         
          <td><button class="btn btn-danger" ng-click="removeItem($index)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(post._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
</div>