<div class="jumbotron text-center">
	<h1>User Management</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>         
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" type="text" name="name" ng-model="user.name" ng-class="{ error: !user.name}" required></td>
          <td><input class="form-control" type="email" ng-model="user.email" ng-class="{ error: !user.email}" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required placeholder="Enter a valid email address"></td>
          <td><input class="form-control"  type="text" ng-model="user.username" ng-class="{ error: !user.username}"></td>
          <td><input class="form-control" type="password" ng-model="user.password" ng-class="{ error: !user.password}"></td>
          <td><button class="btn btn-primary" ng-click="addUser()" ng-disabled="!user.name || !user.username || !user.email || !user.password">Add User</button></td>
          <td><button class="btn btn-info" ng-click="update()">Update</button></td>
          <td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="user in userlist">
          <td><a ng-click="userBoards(user)">{{user.name}}</a></td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
         
          <td><button class="btn btn-danger" ng-click="remove(user._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
</div>
